<html lang="zxx">
    <body>    
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Boruto / Naruto: Next Generation</h2>
                                <p>Ninja world 20 years later...</p>
                                <a asp-controller="Animes" asp-action="AnimeWatching" asp-route-id="1"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero-3.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Demon Slayer / Kimetsu no Yaiba</h2>
                                <p>Red light district...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero-4.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Attack on titan / Endgame: Final Season</h2>
                                <p>The hum...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a asp-controller="Animes" asp-action="Categories" asp-route-id="">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
                                        <div class="ep">6.9 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 75k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 100k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ongoing</li>
                                        </ul>
                                        <h5><<a asp-controller="Animes" asp-action="Details" asp-route-id="1">Boruto / Naruto: Next Generation</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-2.jpg">
                                        <div class="ep">8.1 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 5.3k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 83k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ongoing</li>
                                        </ul>
                                        <h5><a href="#">Demon Slayer / Mugen Train</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-3.jpg">
                                        <div class="ep">8.7 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 9.1k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 89k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ongoing</li>
                                        </ul>
                                        <h5><a href="#">Attack on titan / Endgame: Final Season</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-4.jpg">
                                        <div class="ep">6.3 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 6.4k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 52k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ended</li>
                                        </ul>
                                        <h5><a href="#">Fullmetal Alchemist: Brotherhood</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-5.jpg">
                                        <div class="ep">9.2 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 3.7k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 47k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                        </ul>
                                        <h5><a href="#">Mushoku Tensei: Jobless Reincarnation</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-6.jpg">
                                        <div class="ep">5.6 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 8.4k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 61k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Closed</li>
                                        </ul>
                                        <h5><a href="#">Sword Art Online</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                        <div class="ep">9.6 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 9.4k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 115k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ended</li>
                                        </ul>
                                        <h5><a href="#">Code Geass: Lelouch of the Rebellion</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/popular/popular-2.jpg">
                                        <div class="ep">9.8 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 20k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 213k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ongoing</li>
                                        </ul>
                                        <h5><a href="#">One Piece</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/popular/popular-3.jpg">
                                        <div class="ep">8.5 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 150k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ended</li>
                                        </ul>
                                        <h5><a href="#">Tokyo Ghoul</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/popular/popular-4.jpg">
                                        <div class="ep">9.9 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 7.3k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 80k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ended</li>
                                            <li>Retro</li>
                                        </ul>
                                        <h5><a href="#">Great Teacher Onizuka</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/popular/popular-5.jpg">
                                        <div class="ep">8.8 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11.2k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 73k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ongoing</li>
                                        </ul>
                                        <h5><a href="#">Doctor Stone</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/popular/popular-6.jpg">
                                        <div class="ep">7.6 / 10</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 8.7k</div>
                                        <div class="view"><i class="fa fa-eye"></i> 92k</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Ended</li>
                                        </ul>
                                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Day</li>
                                <li data-filter=".week">Week</li>
                                <li data-filter=".month">Month</li>
                                <li data-filter=".years">Years</li>
                            </ul>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                     data-setbg="img/sidebar/tv-1.jpg">
                                    <div class="ep">9.4 /10</div>
                                    <div class="view"><i class="fa fa-eye"></i> 40k</div>
                                    <h5><a href="#">Blue Lock</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix month week"
                                     data-setbg="img/sidebar/tv-2.jpg">
                                    <div class="ep">7.7 / 10</div>
                                    <div class="view"><i class="fa fa-eye"></i> 63k</div>
                                    <h5><a href="#">Kuroko no Basuke</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix week years"
                                     data-setbg="img/sidebar/tv-3.jpg">
                                    <div class="ep">8.5 / 10</div>
                                    <div class="view"><i class="fa fa-eye"></i> 64k</div>
                                    <h5><a href="#">Haikyuu!!</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix years month"
                                     data-setbg="img/sidebar/tv-4.jpg">
                                    <div class="ep">9.7 / 10</div>
                                    <div class="view"><i class="fa fa-eye"></i> 148k</div>
                                    <h5><a href="#">Hunter X Hunter</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix day"
                                     data-setbg="img/sidebar/tv-5.jpg">
                                    <div class="ep">9.3 / 10</div>
                                    <div class="view"><i class="fa fa-eye"></i> 130k</div>
                                    <h5><a href="#">Neon Genesis Evangelion</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="product__sidebar__comment">
                            <div class="section-title">
                                <h5>New Comment</h5>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment-1.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Active</li>
                                    </ul>
                                    <h5><a href="#">Tokyo Revengers</a></h5>
                                    <span><i class="fa fa-eye"></i> 50.131 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment-2.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Active</li>
                                    </ul>
                                    <h5><a href="#">Spy × Family</a></h5>
                                    <span><i class="fa fa-eye"></i> 31.538 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment-3.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Ended</li>
                                    </ul>
                                    <h5><a href="#">Death Note</a></h5>
                                    <span><i class="fa fa-eye"></i> 60.791 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment-4.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Active</li>
                                    </ul>
                                    <h5><a href="#">Jujutsu Kaisen</a></h5>
                                    <span><i class="fa fa-eye"></i> 43.512 Viewes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a asp-controller="" asp-action="" asp-rout-id=""><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a asp-controller="" asp-action="" asp-rout-id="">Homepage</a></li>
                            <li><a asp-controller="Animes" asp-action="Categories" asp-route-id="">Categories</a></li>
                            <li><a asp-controller="Home" asp-action="Blog" asp-route-id="">Our Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/player.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>


</body>

</html>